<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>我的个人网站</title>
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
                background-color: #f4f4f4;
                color: #333;
                text-align: center;
                padding: 50px;
            }
            h1{
                color: #007bff;
            }
        </style>
    </head>
    <body>
        <h1>欢迎来到我的个人网站！</h1>
        <p>这是我的第一个Github Pages网站。</p>

        <!-- // 以下嵌入页面，page.url以 "/" 开头
        <nav>
        {% for item in site.nav %}
            <a href="{{ item.link }}" 
            {% if page.url == item.link %} style="color: red;" {% endif %}
            >
            {{ item.name }}
            </a>
        {% endfor %}
        </nav> -->
    </body>
</html>